@using EtkBlazorApp.Core.Data
@if (monobrands != null)
{
    <div id="monobrands_tab">
        <div class="form-group">
            <label for="monobrand_update">Обновлять монобренд сайты</label>
            <input class="form-check" type="checkbox" @bind="isMonobrandUpdateEnabled" id="monobrand_update">
        </div>

        @if (isMonobrandUpdateEnabled)
        {
            <div class="row">
                <div class="form-group">
                    <label for="monobrand_key">Ключ обновления монобренд сайтов</label>
                    <input type="text" class="form-control" id="monobrand_key" @bind="monobrandKey">
                </div>
            </div>
            <div class="row">
                <div class="btn-group">
                    <button class="btn btn-primary p-2 m-1" @onclick="AddMonobrand">
                        Добавить новый
                        <span class="oi oi-plus"></span>
                    </button>
                    <button class="btn btn-danger p-2 m-1" disabled="@(selectedMonobrand == null)" @onclick="@(e => confirmDialog.Show())">
                        Удалить
                        <span class="oi oi-delete"></span>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Вебсайт</th>
                                <th></th>
                                <th>Производитель</th>
                                <th>Валюта</th>
                                <th>Обновлять цены/остатки</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var monobrand in monobrands)
                            {
                                <tr class="@((selectedMonobrand == monobrand ? "selected-monobrand" : ""))"
                        @onclick="(e => selectedMonobrand = monobrand)">
                                    <td><input type="url" class="form-control" @bind="monobrand.WebsiteUri" /></td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-primary" target="_blank" href="@monobrand.WebsiteUri">
                                            <span class="oi oi-external-link"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <select class="form-control" @onchange="ManufacturerChanged">
                                            @foreach (var brandInfo in manufacturers)
                                            {
                                                <option value="@brandInfo.name"
                                        selected="@(brandInfo.name.Equals(monobrand.ManufacturerName))">
                                                    @brandInfo.name
                                                </option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" @onchange="CurrencyCodeChanged">
                                            @foreach (var currencyCode in currencyCodeList)
                                            {
                                                <option value="@currencyCode"
                                        selected="@(currencyCode.Equals(monobrand.CurrencyCode))">
                                                    @currencyCode
                                                </option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" checked="@monobrand.IsUpdateEnabled"
                                       @onchange="MonobrandStatusChanged">
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
}

<DeleteConfirmDialog @ref="confirmDialog"
                     ConfirmationChanged="DialogStatusChanged"
                     ConfirmationMessage="@(() => $"Удалить монобренд {selectedMonobrand.WebsiteUri} из списка на обновления цен и остатков?")"></DeleteConfirmDialog>


