@attribute [Authorize(Roles = "Administrator")]


<div id="user_settings_tab">

    <div class="row p-1">
        <div class="btn-group">
            <button class="btn btn-info" @onclick="@(e => addNewDialog.Show())">
                <span class="oi oi-person"></span>
                Добавить
            </button>

            @if (selectedUser != null)
            {
                <button class="btn btn-danger mx-2"
                    disabled="@(selectedUser == null || selectedUser == loginedUser)"
                    @onclick="@(e => deleteDialog.Show())">
                    <span class="oi oi-trash"></span>
                    Удалить
                </button>
            }
        </div>
    </div>

    <div class="row p-1">
        <div class="table-responsive">
            <table class="table users-table table-hover table-borderless">
                <thead class="thead-etk">
                    <tr>
                        <th>Включен</th>
                        <th>Логин</th>
                        <th>Группа</th>
                        <th>Разрешенный IP</th>
                        <th>Дата создания</th>
                        <th>Дата последнего входа</th>
                        <th>Пароль</th>
                    </tr>
                </thead>
                <tbody>
                    @if (users == null)
                    {
                        <LoadingSpinner />
                    }
                    else
                    {
                        foreach (var item in users)
                        {
                            <CascadingValue Value="@selectedUser">
                                <AppUserDisplayItem User="@item"
                                            Groups="@groups"
                                            OnItemSelect="@(e => selectedUser = item)"
                                            OnSaveChanges="@(e => UpdateUser(item))">
                                </AppUserDisplayItem>
                            </CascadingValue>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <DeleteConfirmDialog @ref="deleteDialog"
                         ConfirmationChanged="DeleteConfirmed"
                         ConfirmationMessage="@(() => $"Удалить пользователя '{selectedUser.Login}' ?")" />

    <AddNewUserDialog @ref="addNewDialog" ConfirmationChanged="AddNewUserConfirmed" />
</div>




