@page "/edit-product";
@page "/edit-product/keyword/{Keyword}";
@using EtkBlazorApp.Core.Data
@using EtkBlazorApp.Model.Product

@attribute [Authorize]


<h3>Редактирование товара</h3>
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 m-auto" style="max-width: 640px;">

        <div class="form-row" style="margin-bottom: 20px;">
            <div class="form-group col-md-10">
                <input type="url" class="form-control" id="product-uri" @bind="enteredUri">
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-primary"
                        style="width: 100%;"
                        disabled="@(string.IsNullOrWhiteSpace(enteredUri))"
                        @onclick="LoadProduct">
                    Открыть
                </button>
            </div>
        </div>

        @if (editedProduct is not null)
        {
            <div class="form-group">
                <label for="product-manufacturer">Бренд</label>
                <input type="text" class="form-control" id="product-manufacturer" value="@editedProduct.Manufacturer" readonly>
            </div>
            <div class="form-group">
                <div class="float-left">
                    <label for="product-name">Наименование</label>
                </div>
                <div class="float-right">
                    <small style="color: lightgray">Последнее обновление: <span style="color: #7b7ba5;">@editedProduct.DateModified</span></small>
                </div>
                <input type="text" class="form-control" id="product-name" value="@editedProduct.Name" readonly>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="product-model">Модель</label>
                    <input type="text" class="form-control" id="product-model" value="@editedProduct.Model" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="product-sku">Артикул</label>
                    <input type="text" class="form-control" id="product-sku" value="@editedProduct.Sku" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="product-ean">EAN</label>
                    <input type="text" class="form-control" id="product-ean" value="@editedProduct.EAN" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="product-quantity">Количество</label>
                    <input type="number" min="0" max="99999" class="form-control" id="product-quantity" @bind="@editedProduct.Quantity">
                </div>
                <div class="form-group col-md-6">
                    <label for="product-stock-status">Статус на складе</label>
                    <select class="form-control" @bind="editedProduct.StockStatus" id="product-stock-status">
                        @foreach (var name in stockStatusNames)
                        {
                            <option value="@name" selected="@(name == editedProduct.StockStatus)">@name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="product-price">Цена товара</label>
                    <input type="number" min="0" class="form-control" id="product-price" @bind="editedProduct.BasePrice">
                </div>
                <div class="form-group col-md-6">
                    <label for="product-base-currency-code">Валюта</label>
                    <select class="form-control" id="base-currency-code" @bind="editedProduct.BasePriceCurrency">
                        @foreach (var currency in basePriceCurrencyNames)
                        {
                            <option value="@currency" selected="@(currency == editedProduct.BasePriceCurrency)">@currency</option>
                        }
                    </select>
                </div>
            </div>
            @if (editedProduct.StockStatus == "Снято с производства")
            {
                <div class="form-group">
                    <label>Замена</label>
                    <SelectProductBlazoredTypehead @bind-Product="replacementProduct" />
                </div>
            }

            <button class="btn btn-success" style="width: 100%;" @onclick="SaveChanges" disabled=@(!hasChanges)>Сохранить изменения</button>

            <ProductMainImage Product=@editedProduct Size="ProductImageSize.Large" />
        }
        else
        {
            <LoadingSpinner />
        }
    </div>
</div>
