@inject ISettingStorage settings
@inject NavigationManager navigation
@implements IDisposable
@using System.Timers

<tr>
    <td>
        <div class="task-tool-items-box">
            <input type="checkbox" @onchange="EnableStatusChanged" checked="@(Item.status == 1)" />
            <a href="@("/task-settings/" + @Item.details_page)"><span class="oi oi-cog cog-icon" aria-hidden="true"></span></a>
            <span>@Item.name</span>
        </div>
    </td>
    <td>
        @(Item.status == 1 ? Item.exec_time.ToString(@"hh\:mm") : "-")
    </td>
    <td>
        @(Item.status == 1 ? string.Format("{0} ч. {1} мин.", nextExecution.ToString("hh"), nextExecution.ToString("mm")) : "-")
    </td>
    <td>
        @(Item.last_exec_date_time != default ? Item.last_exec_date_time.ToString("dd.MM.yyyy HH:mm") : "-")
    </td>
</tr>

@code {
    Timer timeLeftRefresh;
    TimeSpan nextExecution => Item.exec_time < DateTime.Now.TimeOfDay ?
                             (DateTime.Now.AddDays(1).Date.AddTicks(Item.exec_time.Ticks) - DateTime.Now) :
                             (Item.exec_time - DateTime.Now.TimeOfDay);

    [Parameter] public CronTaskEntity Item { get; set; }

    protected override void OnInitialized()
    {
        timeLeftRefresh = new Timer();
        timeLeftRefresh.Interval = TimeSpan.FromMinutes(1).TotalMilliseconds;
        timeLeftRefresh.Elapsed += (o, e) =>
        {
            InvokeAsync(() => StateHasChanged());
        };
    }

    private async Task EnableStatusChanged(ChangeEventArgs e)
    {
        Item.status = (bool)e?.Value ? 1 : 0;

        await settings.UpdateCronTask(Item);

        timeLeftRefresh.Enabled = Item.status == 1;
        StateHasChanged();
    }

    public void Dispose()
    {
        timeLeftRefresh?.Stop();
        timeLeftRefresh?.Dispose();
    }

}
