@inject PriceListManager priceListManager
@inject NavigationManager navigationManager
@inject IJSRuntime js

<div class="loaded-price-list-box">
    <h2 style="margin: 6px auto;">Загруженные прайс-листы</h2>

    <ul style="list-style-type: none;">

        @if (priceListManager.LoadedFiles.Count > 1)
        {
            <li style="margin-bottom: 30px; border-bottom: 2px solid lightgray; padding-bottom: 6px;">
                <span class="oi oi-trash" @onclick="RemoveAll"></span>
                <strong style="color:navy">Очистить все загруженные прайс-листы</strong>
            </li>
        }

            @foreach (var data in priceListManager.LoadedFiles.OrderByDescending(pl => pl.DateAdded))
            {
            <li style="margin-bottom: 15px;">
                <span class="oi oi-trash" @onclick="@(e => priceListManager.RemovePriceList(data))" title="Удалить загруженный прайс-лист"></span>
                <span class="oi oi-spreadsheet" @onclick="@(e => MoveToPriceList(data))" title="Показать что загружено"></span>
                <img class="brand-template-logo" src="@(data.TemplateDescription.image)" 
                     title="@data.TemplateDescription.title"
                     data-toggle="tooltip" data-placement="right"
                     style="margin-left: 20px; width: 96px;" />
                <span>Добавлен: <i>@data.DateAdded</i></span>
            </li>
            }
    </ul>
</div>

<style>
    .loaded-price-list-box .oi {
        font-size: 28px;
        color: blue;
        margin-right: 6px;
        cursor: pointer;
        vertical-align: middle;
    }

    .loaded-price-list-box .oi:hover {
        color: red;
        transition: 125ms;
    }
</style>

@code {

    List<string> manufacturers = null;

    protected override void OnInitialized()
    {
        priceListManager.OnPriceListLoaded += () => StateHasChanged();
    }

    private void RemoveAll()
    {
        priceListManager.RemovePriceListAll();
    }

    private async void MoveToPriceList(LoadedPriceListTemplateData info)
    {
        try
        {
            await js.InvokeVoidAsync("open", $"/loaded-price-list-details/{info.TemplateDescription.id}", "_blank");
        }
        catch
        {

        }
    }

} 