<div class="col-md-2 col-xs-6 col-sm-4 price-list-template-outer">
    <div class="price-list-template-inner @(IsTemplateAlreadyLoaded(Item) ? "already-loaded-template" : "")">
        <img class="brand-template-logo" src="@Item.Image" />
        <div>
            <input type="radio"
                   id="@Item.Guid"
                   name="select-template-list-group"
                   disabled="@IsTemplateAlreadyLoaded(Item)"
                   @onchange="OnCheckedChange" />
            <label for="@Item.Guid" style="font-size: 11px; margin-left: 2px;">@Item.Title</label>
        </div>
    </div>
</div>

@code {
    [Inject] PriceListManager priceListManager { get; set; }
    [Parameter] public PriceListTemplateItemViewModel Item { get; set; }
    [Parameter] public EventCallback CheckedChanged { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    private bool IsTemplateAlreadyLoaded(PriceListTemplateItemViewModel template)
    {
        return false;
        //return priceListManager.LoadedFiles.FirstOrDefault(lf => lf.Template.GetType() == template.Type) != null;
    }

    private void OnCheckedChange()
    {
        CheckedChanged.InvokeAsync();
    }
}
