@inject IProductStorage database

@if(Products == null)
{
    <LoadingSpinner />
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var product in Products.Take(MaxDisplayCount))
            {
            <div class="col-md-3 product-item">
                @if (product.Price != decimal.Zero)
                {
                    <p class="product-price">@product.Price.ToString("C0")</p>
                }
                @if (ShowDiscountLabel && product.DiscountPercent.HasValue)
                {
                    <p class="product-price discount-info">@product.DiscountedPrice.Value.ToString("P0")</p>
                }
                <a href="@product.ProductIdUri" target="_blank">
                    <div class="product-item-inner shadow">
                        <div class="product-item-manufacturer">
                            <p>@product.Manufacturer</p>
                        </div>
                        <img src="@product.FullSizeImage" class="product-item-image" alt="@product.Name">

                        <div class="product-item-info">
                            <p class="product-name">@product.Name</p>
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
}

@code {

    [Parameter] public int MaxDisplayCount { get; set; } = 1;

    [Parameter] public List<ProductViewModel> Products { get; set; }

    [Parameter] public bool ShowDiscountLabel { get; set; } = false;
}
