@page "/loaded-price-list-details/{TemplateGuid}"
@attribute [Authorize(Roles = "Manager, Administrator")]

@if (templateInformation != null)
{
    <img src="@templateInformation.image"
     style="width: 300px; margin-bottom: 20px; border: 1px solid lightgray;"
     class="rounded mx-auto d-block">
}

@if (priceLines == null)
{
    <LoadingSpinner></LoadingSpinner>
}
else
{
    @if (!string.IsNullOrWhiteSpace(singleManufacturer))
    {
        <h2>Производитель "@singleManufacturer"</h2>
    }
    else if (string.IsNullOrWhiteSpace(searchText))
    {
        <div class="price-list-template-manufacturers">
            <button type="button" class="btn btn-@(filteredManufacturer == null ? "warning" : "primary") mx-1 my-2" @onclick="@(e => ApplyManufacturerFilter(null))">
                Все <span class="badge badge-pill badge-info">@source.Count</span>
            </button>

            @foreach (var kvp in productsByBrand)
            {
                <button type="button"
            class="btn btn-@(filteredManufacturer == kvp.Key ? "warning" : "primary") mx-1 my-2"
            @onclick="@(e => ApplyManufacturerFilter(kvp.Key))">
                    @kvp.Key <span class="badge badge-pill badge-info">@kvp.Value</span>
                </button>
            }
        </div>
    }

    <div class="row py-2">
        <input type="text"
           @bind="searchText"
           placeholder="Поиск ..." class="form-control" style="max-width: 250px; margin-left: 12px; margin-right: 4px;" />
        <button class="btn btn-outline-primary" @onclick="ApplySearchFilter">
            <i class="bi bi-search"></i>
            Поиск
        </button>
    </div>

    @if (templateInformation.discount != decimal.Zero)
    {
        <p><i>Цены указаны с учетом наценки:</i> <strong>@templateInformation.discount.ToString("F2")%</strong></p>
    }
    @if (templateInformation.nds)
    {
        <p><i>Цены указаны с учетом дополнительной наценки <strong>НДС</strong></i></p>
    }

    <div style="overflow-y: visible; height: 900px;">
        <table class="table table-striped table-bordered uploaded-price-list-lines-table">
            <thead class="thead-etk">
                <tr>
                    @if (hasManufacturerColumn)
                    {
                        <th>Производитель</th>
                    }
                    @if (hasNameColumn)
                    {
                        <th>Товар</th>
                    }
                    <th>Артикул</th>
                    @if (hasModelColumn)
                    {
                        <th>Модель</th>
                    }
                    @if (hasQuantityColumn)
                    {
                        <th>Количество</th>
                    }
                    @if (hasPriceColumn)
                    {
                        <th>Цена</th>
                        <th>Валюта</th>
                    }
                </tr>
            </thead>
            <tbody>
                <Virtualize TItem="PriceLine" OverscanCount="50" Items="priceLines" Context="line" ItemSize="20">
                    <tr @key="@line.GetHashCode()">
                        @if (hasManufacturerColumn)
                        {
                            <td>@line.Manufacturer</td>
                        }
                        @if (hasNameColumn)
                        {
                            <td>@line.Name</td>
                        }
                        <td>
                            <button class="btn btn-sm btn-outline-primary mx-1" @onclick="@( e => SearchSkuOnWebsite("findBySku", line.Sku))">
                                <span class="oi oi-magnifying-glass"></span>
                            </button>
                            @line.Sku
                        </td>
                        @if (hasModelColumn)
                        {
                            <td>
                                <button class="btn btn-sm btn-outline-primary mx-1" @onclick="@( e => SearchSkuOnWebsite("findByModel", line.Model))">
                                    <span class="oi oi-magnifying-glass"></span>
                                </button>
                                @line.Model
                            </td>
                        }
                        @if (hasQuantityColumn)
                        {
                            <td>@line.Quantity</td>
                        }
                        @if (hasPriceColumn)
                        {
                            <td>@line.Price</td>
                            <td>@line.Currency</td>
                        }
                    </tr>
                </Virtualize>
            </tbody>
        </table>
    </div>
}