@page "/load-price-list"
@attribute [Authorize(Roles = "Administrator, Manager")]

@inject PriceListManager priceListManager
@inject UserLogger logger
@inject NavigationManager navManager
@inject RemoteTemplateFileLoaderFactory remoteTemplateFileLoaderFactory
@inject ReportManager reportManager
@inject IPriceListTemplateStorage templateStorage
@inject IJSRuntime js
@inject IToastService toast

<div class="my-2" style="margin-left: -15px; margin-right: -15px;">
    @if (isFileUploading)
    {
        <h3>Загрузка файла на сервер</h3>
        <BootstrapProgressBar CurrentProgress="@uploadProgress.Value.Percent">
            <LabelText>
                <span class="justify-content-center d-flex position-absolute w-100">
                    @($"{uploadProgress.Value.Percent}% ({ uploadProgress.Value.ReadedKb } кб из {uploadProgress.Value.TotalKb } кб)")
                </span>
            </LabelText>
        </BootstrapProgressBar>
    }
    @if (isIntermediateProgress)
    {
        <h3>Обработка данных</h3>
        <IntermediateProgressBar></IntermediateProgressBar>
    }
</div>

<div class="row my-2">
    <div class="form-group">
        <button class="btn btn-success" @onclick="LoadRemoteUriTemplate"
                disabled="@(!selectedTemplateHasRemoteUri || isBusy)">
            <span class="oi oi-cloud-download"></span>
            Загрузить от поставщика
        </button>
        <button class="btn btn-success" @onclick="LoadRemoteUriTemplate"
                disabled="@(!selectedTemplateHasEmailSource || isBusy)">
            <span class="oi oi-envelope-open"></span>
            Загрузить из почты
        </button>
        <button class="btn btn-success file-input-zone"
                for="price-list-input"
                disabled="@(selectedTemplate == null || isBusy)">
            <InputFile OnChange="UploadSelectedPriceListTemplateFile"
                       accept=".xlsx, .xls, .csv, .xml, .html"
                       disabled="@(selectedTemplate == null || isBusy)"></InputFile>
            <span class="oi oi-paperclip"></span>
            <span>Загрузить с компьютера</span>
        </button>

    </div>
</div>

<h2>Выберите шаблон загружаемого файла</h2>

<div class="row my-2">
    <div class="input-group px-2" style="width: 425px;">
        <button class="btn btn-outline-primary @(filterHasUri ? "active" : "")"
                title="Фильтр - показать только шаблоны с возможность загрузки по ссылке"
                @onclick="@(e => { filterHasUri = !filterHasUri; ApplyFilter(null); } )">
            <span class="oi oi-cloud-download"></span>
        </button>
        <button class="mx-1 btn btn-outline-primary @(filterFromEmail ? "active" : "")"
                title="Фильтр - показать только шаблоны с возможность загрузки из почты"
                @onclick="@(e => { filterFromEmail = !filterFromEmail; ApplyFilter(null); } )">
            <span class="oi oi-envelope-open"></span>
        </button>

        <input type="search"
               @onkeypress="ApplyFilter"
               @oninput="@(e => { searchPhrase = (string)e.Value; ApplyFilter(null); })"
               @bind="searchPhrase" class="form-control rounded mx-2" />
    </div>

    <div class="d-inline px-2">
        <button class="btn btn-outline-primary mx-1"
                title="Добавить новое описание для существующего шаблона прайс-листа"
                @onclick="@(e => navManager.NavigateTo($"/price-list/new"))">
            <span class="oi oi-plus"></span>
        </button>

        <button class="btn btn-outline-primary mx-1"
                title="Редактированть описание выбранного шаблона прайс-листа"
                disabled="@(selectedTemplate == null)"
                @onclick="@(e => navManager.NavigateTo($"/price-list/edit/{selectedTemplate?.Guid}"))">
            <span class="oi oi-pencil"></span>
        </button>
    </div>

    <div class="d-inline px-2 float-right" style="margin-left: auto;">
        @if (etkPriceListDownloadInProgress)
        {
            <LoadingSpinner />
        }
        else
        {
            <button class="btn btn-outline-primary mx-1"
                title="Скачать прайс-лист с товарами ЕТК-Комплект"
                @onclick="@(e => { exportPriceDialog.Show(); })">
                <span class="oi oi-spreadsheet"></span>
            </button>
        }
    </div>
</div>

<div class="row my-2">
    @if (filteredTemplates != null)
    {
        @foreach (var template in filteredTemplates)
        {
            <CascadingValue Value="selectedTemplate">
                <PriceListTemplateItem Items="@template.Value" CheckedChanged="SelectedTemplateChanged" />
            </CascadingValue>
        }
    }
</div>

<hr />

@if (selectedTemplate != null)
{
    <div class="row my-2">
        <div class="col-md-12">
            <h4>@selectedTemplate.Title</h4>
            @if (selectedTemplate.Nds)
            {
                <strong style="color: red; margin-right: 10px;">+ НДС | </strong>
            }
            <strong>Наценка: </strong>
            @if (editingTemplate == selectedTemplate)
            {
                <input type="number" style="display: inline; width: 80px;" class="form-control mx-2" @bind="editingTemplate.Discount" />
                <button class="btn btn-outline-success" @onclick="SaveTemplateDiscount">
                    <span class="oi oi-circle-check" style="font-size: 16px;"></span>
                </button>
                @if (editingTemplate.ManufacturerDiscountMap.Any())
                {
                    <p>
                        Отдельные наценки для:
                        @foreach (var kvp in editingTemplate.ManufacturerDiscountMap)
                        {
                            <span>@kvp.manufacturer_name (@kvp.discount.ToString("F0")%)</span>
                        }
                    </p>

                }
            }
            else
            {
                <strong style="color: red;">@(selectedTemplate.Discount.ToString("G29"))%</strong>
                <button class="btn btn-sm btn-outline-success mx-2" @onclick="(e => editingTemplate = selectedTemplate)">
                    <span class="oi oi-pencil"></span>
                </button>
            }
        </div>
        <textarea readonly class="price-list-template-description">@selectedTemplate.Description</textarea>

        <p style="opacity: @(!string.IsNullOrWhiteSpace(selectedTemplate.RemoteUrl) ? "1.0" : "0.0")">
            Прямая ссылка на файл: <a href="@selectedTemplate.RemoteUrl" target="_blank">@selectedTemplate.RemoteUrl</a>
        </p>
    </div>
}

<CustomDataDialog @ref="exportPriceDialog"
                  ConfirmationChanged="@DownloadEtkPriceList"
                  ConfirmationTitle="Настройки выгрузки данных">
    <DialogBody>
        <div class="form-group">
            <label>Бренды для выгрузки</label>
            <ManufacturersCheckList StartUnchecked="true" @ref="exportPriceManufacturerList" />
        </div>
    </DialogBody>
</CustomDataDialog>