<div class="row">
    <div class="btn-group">
        @foreach (var tab in tabData)
        {
            <button class="btn btn-outline-primary @(selectedTab == tab ? "active" : "")"
                @onclick="@(e => selectedTab = tab)">
                @tab
            </button>
        }
    </div>
</div>

<div class="row">
    <div class="order-details-tabs w-100" style="margin: 20px 0px;">
        @if (selectedTab == "Статус ТК СДЭК")
        {
            <CdekOrderInfoControl CdekOrderNumber="@Order.TkOrderNumber" />
        }
        else if (selectedTab == "Статус ТК Деловые Линии")
        {
            <h2>Не реализовано</h2>
        }
        else if (selectedTab == "Другие заказы клиента")
        {
            <LinkedOrdersListControl OrderId="@Order.OrderId" />
        }
        else if (selectedTab == "Информация по ИНН")
        {
            <InnCheckerControl Inn="@Order.Inn" />
        }
    </div>
</div>

@code {
    [Parameter] public Order Order { get; set; }

    string selectedTab = "";
    private IReadOnlyList<string> tabData = new List<string>();

    protected override void OnParametersSet()
    {
        var list = new List<string>()
        {
             "Другие заказы клиента",
             "Информация по ИНН"
        };

        if (Order.TkCode != TransportDeliveryCompany.None)
        {
            if (Order.TkCode == TransportDeliveryCompany.Cdek)
            {
                list.Insert(0, "Статус ТК СДЭК");
            }
            if (Order.TkCode == TransportDeliveryCompany.Dellin)
            {
                list.Insert(0, "Статус ТК Деловые Линии");
            }

            selectedTab = list[0];
        }

        tabData = list;

    }

}
