@using EtkBlazorApp.Model.Order

@if (OrderData != null)
{
    <tr>
        <td><strong>@OrderData.OrderId</strong></td>
        <td><small>@OrderData.DateTime.ToString("dd.MM.yyyy в HH:mm (ddd)")</small></td>
        <td>@OrderData.Customer</td>
        <td>@OrderData.City</td>
        <td>@OrderData.TotalPrice.ToString("C0")</td>
        <td>
            @if (!string.IsNullOrWhiteSpace(OrderData?.CdekOrderNumber))
            {
                <a class="btn btn-sm btn-outline-secondary" href="https://lk.cdek.ru/order-history/trace?orderNumber=@OrderData.CdekOrderNumber" target="_blank">
                    <span class="oi oi-magnifying-glass"></span>
                </a>
                @if (string.IsNullOrWhiteSpace(lastCdekStatus))
                {
                    <span><small>Загрузка ...</small></span>
                }
                else
                {
                    <span style="margin-left: 4px;"><small>@lastCdekStatus</small></span>
                }
            }
        </td>
        <td>
            <OrderStatusDropdown Order="OrderData" CanChangeStatus="false" />
        </td>
        <td>
            <a href="/order/@OrderData.OrderId" target="_blank" class="btn btn-info btn-sm"><i class="oi oi-eye"></i></a>
        </td>
    </tr>
}

@code {
    [Parameter] public OrderViewModel OrderData { get; set; }
    [Inject] public ITransportCompanyApi CdekApi { get; set; }
    string lastCdekStatus = null;

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(OrderData?.CdekOrderNumber))
        {
            var cdekOrderStatus = await CdekApi.GetOrderInfo(OrderData.CdekOrderNumber);
            lastCdekStatus = cdekOrderStatus.statuses.FirstOrDefault()?.name;
        }
    }
}
