@using EtkBlazorApp.Core.Data.Order

<div class="dropdown show order-status-dropdown-container">
    <button href="#"
            type="button"
            id=@($"dropdownOrderStatusLink_{Order.OrderId}")
            @onclick="@(e => isOpened = !isOpened)"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            class=@cssClass>
        <span>@statusIcon</span>
        <span>@(Order?.Status?.Name ?? "Неизвестно")</span>
    </button>
    @if (CanChangeStatus && isOpened)
    {
        <div class="dropdown-menu show" aria-labelledby=@($"dropdownOrderStatusLink_{Order.OrderId}")>
            @foreach (var status in availableOrderStatuses)
            {
                <a href="#" class="dropdown-item" @onclick="@(async e => await ChangeOrderStatus(status))" @onclick:preventDefault>
                    <span>@cssMap[status.Type].Icon</span>
                    <span>@status.Name</span>
                </a>
            }
        </div>
    }
</div>

<style>
    .order-status-changes-history-box {
        background: #333;
        color: white;
    }
</style>

@code {
    [Parameter] public Order Order { get; set; }
    [Parameter] public bool CanChangeStatus { get; set; }

    [Inject] public IOrderStorage OrderRepository { get; set; }
    [Inject] public IOrderUpdateService OrderUpdateSerivce { get; set; }
    [Inject] public IMapper Mapper { get; set; }
    [Inject] public UserLogger Logger { get; set; }

    bool isOpened = false;

    List<OrderStatus> availableOrderStatuses = new();

    private readonly Dictionary<EtkOrderStatusCode, OrderStatusDisplayData> cssMap = new()
        {
            [EtkOrderStatusCode.None] = new("❓", "dark"),
            [EtkOrderStatusCode.Created] = new("🔄", "dark"),
            [EtkOrderStatusCode.InProcessing] = new("📦", "primary"),
            [EtkOrderStatusCode.InDelivery] = new("🚚", "info"),
            [EtkOrderStatusCode.Completed] = new("✔️", "success"),
            [EtkOrderStatusCode.WaitingToPickup] = new("🕘", "warning"),
            [EtkOrderStatusCode.Canceled] = new("🛑", "light"),
            [EtkOrderStatusCode.PaidUsingYKassa] = new("💳", "warning")
        };

    private string cssClass
    {
        get
        {
            string css = "btn order-status-dropdown-button";

            if (Order?.Status != null && cssMap.TryGetValue(Order.Status.Type, out var kvp))
            {
                css += $" btn-{kvp.Background}";
            }

            if (CanChangeStatus)
            {
                css += " dropdown-toggle";
            }
            else
            {
                css += " btn-sm";
            }

            return css;
        }
    }

    private string statusIcon
    {
        get
        {
            if (Order?.Status != null && cssMap.TryGetValue(Order.Status.Type, out var kvp))
            {
                return kvp.Icon;
            }
            return cssMap[EtkOrderStatusCode.None].Icon;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (CanChangeStatus)
        {
            availableOrderStatuses = Mapper.Map<List<OrderStatus>>(await OrderRepository.GetOrderStatuses());
            StateHasChanged();
        }
    }

    private async Task ChangeOrderStatus(OrderStatus status)
    {
        EtkOrderStatusCode oldStatus = (Order?.Status?.Type ?? EtkOrderStatusCode.None);
        EtkOrderStatusCode newStatus = status.Type;

        if (oldStatus != newStatus)
        {
            Order.Status = status;
            isOpened = false;

            StateHasChanged();

            await OrderUpdateSerivce.ChangeOrderStatus(Order.OrderId, (int)newStatus);

            await Logger.Write(LogEntryGroupName.Orders, "Обновление статуса", $"Статус заказа {Order.OrderId} изменен с {oldStatus} на {newStatus}");

            //Проверить что действительно добавляется на активной странице
            Order.StatusChangesHistory.Add(new OrderStatusHistoryEntry()
                {
                    DateAdded = DateTime.Now,
                    StatusName = status.Name
                });
        }
    }
}

