<div class="row">
    <div class="btn-group">
        @foreach (var tab in tabData)
        {
            <button class="btn btn-outline-primary @(selectedTab == tab ? "active" : "")"
                @onclick="@(e => selectedTab = tab)">
                @tab
            </button>
        }
    </div>
</div>

<div class="row">
    <div class="order-details-tabs w-100" style="margin: 20px 0px;">
        @if (selectedTab == "Статус СДЭК")
        {
            <CdekOrderInfoControl CdekOrderNumber="@Order.CdekOrderNumber" />
        }
        else if (selectedTab == "Другие заказы клиента")
        {
            <LinkedOrdersListControl OrderId="@Order.OrderId" />
        }
        else if (selectedTab == "Информация по ИНН")
        {
            <InnCheckerControl Inn="@Order.Inn" />
        }
    </div>
</div>

@code {
    [Parameter] public OrderViewModel Order { get; set; }

    private string selectedTab = "Статус СДЭК";
    private readonly string[] tabData = new string[] { "Статус СДЭК", "Другие заказы клиента", "Информация по ИНН" };

}
