@page "/vse-instrumenti-export"
@attribute [Authorize(Roles = "Administrator, Manager")]


    <img style="height: 100px; margin: 0px auto 40px auto; display: block;" 
         src="image/logotips/vse-instrumenti-logo-big.jpg" 
         class="img-fluid" />

    <div class="container">
        @if (inProgress)
        {
            <IntermediateProgressBar></IntermediateProgressBar>
        }
        else
        {
            <div class="row my-3">
                <div class="col-md-3">
                    <button class="btn btn-info w-100 h-100 mx-2" @onclick="@(e => ShowPriceExample = !ShowPriceExample)">
                        <span class="oi oi-info px-1"></span>
                        @(!ShowPriceExample ? "Показать тестовые цены" : "Скрыть тестовые цены")
                    </button>
                </div>
            <div class="offset-3 col-md-6">
                    <button type="button" class="btn btn-primary w-100 h-100" @onclick="GetReport" disabled="@reportButtonDisabled">
                        <span class="oi oi-spreadsheet px-1"></span>
                        Скачать выгрузку
                    </button>
                </div>
            </div>

                
                    @if (ShowPriceExample)
                    {
                    <div class="form-inline my-2">
                        <label for="test-price">Цена для примера/проверки</label>
                        <input type="number" id="test-price" 
                               class="form-control mx-2 justify-content-center" 
                               style="width: 120px;"
                               name="example-price" @bind-value="ExamplePrice" />
                    </div>
                }
        }

        <div class=" table-responsive">
            <table class="table prikat-table">
                <thead class="thead-etk">
                    <tr>
                        <th>Производитель</th>
                        <th>Рекомендуемая цена</th>
                        <th>Закупочная цена</th>
                        <th>Валюта выгрузки</th>
                        <th>Выгружаемые склады</th>
                    </tr>
                </thead>
                <tbody>
                    @if (itemsSource == null)
                    {
                        <LoadingSpinner></LoadingSpinner>
                    }
                    else
                    {
                        foreach (var item in itemsSource)
                        {
                            <CascadingValue Value="@ShowPriceExample">
                                <CascadingValue Value="@ExamplePrice">
                                    <PrikatTemplateItem 
                                        AllStocks="@allStocks"
                                        StocksWithAtLeastOneProduct="@GetStockListWithProductsForBrand(item)"
                                        Item="@item" 
                                        ItemChanged="@DiscountChanged" />
                                </CascadingValue>
                            </CascadingValue>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
