@page "/vse-instrumenti-export"
@using EtkBlazorApp.BL.Managers.ReportFormatters.VseInstrumenti
@attribute [Authorize(Roles = "Administrator, Manager")]


<img src="image/logotips/vse-instrumenti-logo-big.jpg"
     class="img-fluid vi-banner" />

<div class="container">
    @if (inProgress)
    {
        <IntermediateProgressBar></IntermediateProgressBar>
    }
    else
    {
        <div class="row my-3">
            <div class="offset-md-6 col-md-6 offset-sm-6 col-sm-6 generate-report-panel">
                <button type="button" class="btn btn-primary" style="white-space: nowrap;" @onclick="GetReport" disabled="@reportButtonDisabled">
                    <span class="oi oi-spreadsheet px-1"></span>
                    @($"Создать PRICAT-файл в формате {selectedFormat.ToString().ToUpper()}")
                </button>

                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <button class="btn @(selectedFormat == PricatFormat.Csv ? "btn-primary active" : "btn-outline-primary")" @onclick="@(e => selectedFormat = PricatFormat.Csv)" disabled="@reportButtonDisabled">
                        <img src="/image/file-extensions/csv.svg" />
                    </button>
                    <button class="btn @(selectedFormat == PricatFormat.Xml ? "btn-primary active" : "btn-outline-primary")" @onclick="@(e => selectedFormat = PricatFormat.Xml)" disabled="@reportButtonDisabled">
                        <img src="/image/file-extensions/xml.svg" />
                    </button>
                </div>
            </div>
        </div>
    }

    <div class="table-responsive">
        <table class="table prikat-table">
            <thead class="thead-etk">
                <tr>
                    <th>Производитель</th>
                    <th></th>
                    <th>Рекомендуемая цена, %</th>
                    <th>Валюта выгрузки</th>
                    <th>Выгружаемые склады</th>
                </tr>
            </thead>
            <tbody>
                @if (itemsSource == null)
                {
                    <LoadingSpinner></LoadingSpinner>
                }
                else
                {
                    foreach (var item in itemsSource)
                    {
                          <PrikatTemplateItem AllStocks="@allStocks"
                                                    StocksWithAtLeastOneProduct="@GetStockListWithProductsForBrand(item)"
                                                    Item="@item"
                                                    DeleteClick="@DeleteClick"
                                                    ItemChanged="@DiscountChanged" />
                    }

                    <tr>
                        <td>
                            <button class="btn btn-sm btn-primary" @onclick="AddNewManufacturer">
                                <span class="oi oi-plus"></span>
                            </button>
                        </td>
                        <td colspan="5">
                            <SelectManufacturerDropdown @bind-Manufacturer="newManufacturer"
                                                        DisabledManufacturers="@this.itemsSource.Select(i => new ManufacturerEntity(){ manufacturer_id = i.Manufacturer_id}).ToList()" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <h2>Приоритетные скидки на отдельные товары</h2>
    <div class="container">
        <div class="row py-2">
            <div class="col-md-2">
                <button class="btn btn-primary w-100" type="button"
                        style="display: block; vertical-align: bottom;"
                        @onclick="(e => AddDiscountItem())">
                    <span class="oi oi-plus">&nbsp; Добавить</span>
                </button>
            </div>
            <div class="col-md-7">
                <SelectProductBlazoredTypehead ProductChanged="@SelectedProductChanged" />
            </div>
            <div class="col-md-3" style="display: flex; gap: 20px;">
                <input type="number" id="discount_percent" class="form-control"
                       value="@newDiscountProduct.DiscountPercent"
                       @onchange="@(e => newDiscountProduct.DiscountPercent = int.Parse(e.Value.ToString()))" />
            </div>
        </div>
        <div class="row">
            <table class="table table-sm">
                <thead style="margin-bottom: 12px;">
                    <tr>
                        <th class="col-md-2"></th>
                        <th class="col-md-7">Товар</th>
                        <th class="col-md-3">Новая наценка, %</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in discountedProducts)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-outline-danger"
                                        @onclick="(e => RemoveDiscountItem(item))">
                                    <span class="oi oi-minus"></span>
                                </button>
                            </td>
                            <td>
                                <a href="@item.ProductIdUri" target="_blank">@HttpUtility.HtmlDecode(item.Name)</a>
                            </td>
                            <td class="discount-percent">
                                @(item.DiscountPercent.ToString("F2").Replace(",", ".") + " %")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .generate-report-panel {
        display: flex;
        justify-content: end;
        gap: 12px;
    }

        .generate-report-panel img {
            width: 32px;
            height: 32px;
            filter: invert(27%) sepia(100%) saturate(5429%) hue-rotate(1deg) brightness(104%) contrast(105%); /* translate svg to red color */
        }
    .vi-banner {
        height: 100px;
        margin: 0px auto 40px auto;
        display: block;
    }

</style>