<tr>
    <td>
        <div class="task-tool-items-box">
            <input type="checkbox" style="margin-right: 12px;" checked="@Item.IsEnabled" onclick="return false;" />
            <AuthorizeView Roles="Administrator">
                <Authorized>
                    <a href="@("/cron-task/edit/" + @Item.Id)">
                        <span class="oi oi-cog cog-icon" style="font-size: 1.2em;" aria-hidden="true"></span>
                    </a>
                </Authorized>
            </AuthorizeView>

            <span>@Item.Title</span>
        </div>
    </td>
    <td>
        @(Item.IsEnabled ? Item.ExecTime.ToString(@"hh\:mm") : "")
    </td>
    <td>
        @if (Item.IsEnabled)
        {
            <BootstrapProgressBar CurrentProgress="@Item.NextExecutionPercentLeft" Stripped="false" Animated="false" HideProgressLabel="true" />
        }
    </td>
    <td>
        @if (Item.LastExec.HasValue)
        {
            @lastResultIconMarkup
            @Item.LastExec.Value.ToString("dd.MM.yyyy HH:mm")
        }
    </td>
    <td style="text-align: right;">
        @Item.Description
    </td>
</tr>
@code {

    MarkupString lastResultIconMarkup
    {
        get
        {
            string color = "gray";
            string iconClass = "oi-question-mark";

            if(Item.LastExecResult == false)
            {
                color = "darkred";
                iconClass = "oi-x";
            }
            else if(Item.LastExecResult == true)
            {
                color = "#50C878";
                iconClass = "oi-check";
            }

            string result = $"<span class=\"oi {iconClass}\" style=\"color: {color}; font-size: 24px; padding-right: 8px; \" ></span>";
            return (MarkupString)result;

        }
    }

    [Parameter] public CronTaskViewModel Item { get; set; }

}
