@page "/manufacturers";

@using EtkBlazorApp.DataAccess
@using EtkBlazorApp.DataAccess.Model
@using EtkBlazorApp.Components;
@inject IDatabase _database


<h1>Производители</h1>
@if (manufacturers == null)
{
    <h3>Загрузка данных ...</h3>
}
else
{
    <AuthorizeView>
        <Authorized>
            <h3>Список производителей на сайте</h3>
            <div class="row">
                <table class="table table-hover" style="width: 100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Производитель</th>
                            <th>Срок поставки (дней)</th>
                            <th>Следующая поставка</th>
                            <th>Изменить</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in manufacturers)
                        {
                            <tr>
                                <td><a href="@item.Uri" target="_blank">@item.name</a></td>

                                @if (editManufacturer != item)
                                {
                                    <td>@item.shipment_period</td>
                                    <td>@item.NextShipmentDate.ToShortDateString()</td>
                                    <td><button class="btn-secondary btn-sm" @onclick="@(e => EditManufacturer(item))">Изменить</button></td>
                                }
                                else
                                {
                                    <td><input @bind="item.shipment_period" /></td>
                                    <td>@item.NextShipmentDate.ToShortDateString()</td>
                                    <td><button class="btn-info btn-sm" @onclick="@(e => ConfirmManufacturerChanges(item))">Подтвердить</button></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </Authorized>
        <NotAuthorized>
            <h3>Список производителей на сайте</h3>
            <div class="row">
                <table class="table table-hover" style="width: 100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Производитель</th>
                            <th>Срок поставки (дней)</th>
                            <th>Следующая поставка</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in manufacturers)
                        {
                        <tr>
                            <td><a href="@item.Uri" target="_blank">@item.name</a></td>
                            <td>@item.shipment_period</td>
                            <td>@item.NextShipmentDate.ToShortDateString()</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </NotAuthorized>
    </AuthorizeView>
}

@code {

    List<ManufacturerViewModel> manufacturers = null;
    ManufacturerViewModel editManufacturer = null;

    private void EditManufacturer(ManufacturerViewModel manufacturer)
    {
        editManufacturer = manufacturer;
    }

    private async Task ConfirmManufacturerChanges(ManufacturerViewModel manufacturer)
    {
        var data = new ManufacturerModel() { manufacturer_id = manufacturer.manufacturer_id, shipment_period = manufacturer.shipment_period };
        await _database.SaveManufacturer(data);
        editManufacturer = null;
    }

    protected override async Task OnInitializedAsync()
    {
        manufacturers = (await _database.GetManufacturers())
            .Select(model => new ManufacturerViewModel()
            {
                name = model.name,
                keyword = model.keyword,
                manufacturer_id = model.manufacturer_id,
                shipment_period = model.shipment_period,
                productsCount = model.productsCount
            })
            .ToList();
    }

}
