@page "/load-price-list"
@attribute [Authorize(Roles = "Administrator, Manager")]
@inject PriceListManager priceListManager
@inject ITemplateStorage templateStorage
@inject IToastService toast
@inject ISettingStorage settingStorage

@using System.IO;
@using System.Net;



@if (isFileLoading)
{
    <IntermediateProgressBar />
}

<button class="btn btn-success"
        @onclick="LoadRemoteUriTemplate"
        disabled="@(string.IsNullOrWhiteSpace(selectedTemplate?.RemoteUrl))">
    Загрузить от поставщика
</button>
<InputFile OnChange="@UploadSelectedPriceListTemplateFile" disabled="@(selectedTemplate == null)"></InputFile>

<h2>Выберите шаблон загружаемого файла</h2>


<div class="row">
    @foreach (var template in templates)
    {
        <PriceListTemplateItem Items="@template.Value"
                               CheckedChanged="(e => selectedTemplate = (PriceListTemplateItemViewModel)e)"></PriceListTemplateItem>
    }
</div>

<hr />

@if (selectedTemplate != null)
{
    <h4>Примечания к выбранному шаблону</h4>
    <textarea readonly class="price-list-template-description">@selectedTemplate.Description</textarea>
    @if (selectedTemplate.RemoteUrl != null)
    {
        <p>Прямая ссылка на файл: <a href="@selectedTemplate.RemoteUrl" target="_blank">@selectedTemplate.RemoteUrl</a></p>
    }
    <hr />
}

@if (priceListManager.LoadedFiles != null && priceListManager.LoadedFiles.Any())
{
    <a href="/update-products" class="btn btn-lg btn-outline-primary">Перейти к обновлению товаров</a>
}

@code
{
        const int MAX_UPLOAD_FILE_SIZE = 15_000_000; // 15 мб

        Dictionary<string, List<PriceListTemplateItemViewModel>> templates = null;
        PriceListTemplateItemViewModel selectedTemplate = null;
        bool isFileLoading = false;

    protected override async Task OnInitializedAsync()
    {
        templates = (await templateStorage.GetPriceListTemplates())
            .Select(t => new PriceListTemplateItemViewModel()
            {
                Guid = t.id,
                Description = t.description,
                Discount = t.discount,
                GroupName = t.group_name,
                Image = t.image,
                Manufacturer = t.manufacturer,
                PriceListType = t.price_list_type,
                RemoteUrl = t.remote_uri,
                Title = t.title
            })
            .GroupBy(template => template.GroupName ?? "<Без группы>")
            .ToDictionary(i => i.Key, i => i.ToList());
    }

    private async Task UploadSelectedPriceListTemplateFile(InputFileChangeEventArgs e)
    {
        isFileLoading = true;

        var stream = e.File.OpenReadStream(MAX_UPLOAD_FILE_SIZE);
        await LoadRemoteTemplateFromStream(stream);
    }

    private async Task LoadRemoteUriTemplate()
    {
        isFileLoading = true;
        StateHasChanged();

        using (var wc = new WebClient())
        {

            string login = await settingStorage.GetValue($"price-list-template-credentials-{selectedTemplate.Title}-login");
            string password = await settingStorage.GetValue($"price-list-template-credentials-{selectedTemplate.Title}-password");
            bool hasCredentials = !string.IsNullOrWhiteSpace(login) && !string.IsNullOrWhiteSpace(password);
            if (hasCredentials)
            {
                wc.Credentials = new NetworkCredential(login, password);
            }

            var bytes = await Task.Run(() => wc.DownloadData(new Uri(selectedTemplate.RemoteUrl)));
            using (var ms = new MemoryStream(bytes))
            {
                await LoadRemoteTemplateFromStream(ms);
            }
        }
    }

    private async Task LoadRemoteTemplateFromStream(Stream stream)
    {
        try
        {
            await priceListManager.UploadTemplate(selectedTemplate.Type, stream);
        }
        catch (Exception ex)
        {
            toast.ShowError("Ошибка загрузки файла: " + ex.Message);
        }
        finally
        {
            isFileLoading = false;
            selectedTemplate = null;
            StateHasChanged();
        }

    }
}
