@page "/price-list-loaded-data"
@inject PriceListManager priceListManager

@if (info == null)
{
    <LoadingSpinner></LoadingSpinner>
}
else
{
    <div class="container-fluid">

        <div class="table-responsive">

            <table class="table">
                <thead class="thead-etk">
                    <tr>
                        <th>ID</th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th>Валюта</th>
                    </tr>
                </thead>
                <tbody>
                    <Virtualize Items="@info" Context="line">
                        <tr>
                            <td>@line.product_id</td>
                            <td>@line.quantity</td>
                            <td>@line.price</td>
                            <td>@line.quantity</td>
                        </tr>
                    </Virtualize>
                </tbody>
            </table>

        </div>

    </div>
}

@code {

    List<ProductUpdateData> info = null;
}
