@page "/update-products"
@attribute [Authorize(Roles = "Administrator, Manager")]

<h3>Обновление цен и остатков</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-1">
            @if (inProgress || activeTask != null)
            {
                if (activeTask != null)
                {
                <h3>В данный момент выполняется задание @($"'{activeTask.name}'")</h3>
                }
                <IntermediateProgressBar></IntermediateProgressBar>
            }
            else
            {
                <button class="btn btn-success btn-lg mx-2"
                        @onclick="UpdateProductsPriceAndStock" disabled="@(priceListManager.PriceLines.Count == 0)">
                    Обновить
                </button>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ProductsUpdateStatusDisplayer List="@updateProgressSteps" />
    </div>
</div>

<nav>
    <div class="nav nav-tabs" id="tab-control" role="tablist">
        <button class="nav-link @(selectedTabName == "tab-1" ? "active" : "")" @onclick="@(e => selectedTabName = "tab-1")">
            Загруженные прайс-листы
        </button>
        <button class="nav-link @(selectedTabName == "tab-2" ? "active" : "")" @onclick="@(e => selectedTabName = "tab-2")">
            Список игнорирования товаров
        </button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show @(selectedTabName == "tab-1" ? "active": "")"
         style="display: @(selectedTabName == "tab-1" ? "block" : "hidden");">
        <LoadedPriceListDisplayer />
    </div>
    <div class="tab-pane fade show @(selectedTabName == "tab-2" ? "active": "")"
         style="display: @(selectedTabName == "tab-2" ? "block" : "hidden");">
        <FixedProductsList />
    </div>
</div>