@page "/vse-instrumenti-export"
@attribute [Authorize(Roles = "Administrator, Manager")]


    <img style="height: 100px; margin: 0px auto 40px auto; display: block;" 
         src="image/logotips/vse-instrumenti-logo-big.jpg" 
         class="img-fluid" />

    <div class="container">
        @if (inProgress)
        {
            <IntermediateProgressBar></IntermediateProgressBar>
        }
        else
        {
            <div class="row my-3">
                <div class="col-md-3">
                    <button class="btn btn-info w-100 h-100" @onclick="(() => showSettingsBox = !showSettingsBox)">
                        <span class="oi oi-cog px-1"></span>
                        @(!showSettingsBox ? "Показать меню настроек" : "Скрыть меню настроек")
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info w-100 h-100 mx-2" @onclick="@(e => ShowPriceExample = !ShowPriceExample)">
                        <span class="oi oi-info px-1"></span>
                        @(!ShowPriceExample ? "Показать тестовые цены" : "Скрыть тестовые цены")
                    </button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary w-100 h-100" @onclick="GetReport" disabled="@reportButtonDisabled">
                        <span class="oi oi-spreadsheet px-1"></span>
                        Скачать выгрузку
                    </button>
                </div>
            </div>

                
                    @if (ShowPriceExample)
                    {
                    <div class="form-inline my-2">
                        <label for="test-price">Цена для примера/проверки</label>
                        <input type="number" id="test-price" 
                               class="form-control mx-2 justify-content-center" 
                               style="width: 120px;"
                               name="example-price" @bind-value="ExamplePrice" />
                    </div>
                }

    <ul class="list-group my-2" hidden="@(!showSettingsBox)">
        <li class="list-group-item">
            <input class="form-check-input" type="checkbox"
                   checked="@reportOptionsHasStock"
                   @onchange="@(async e => { reportOptionsHasStock = (bool)e.Value; await ExportOptionsChanged(); })" />
            Исключить товары с 0 остатком
        </li>
        <li class="list-group-item">
            <input class="form-check-input" type="checkbox"
                   checked="@reportOptionsHasEan"
                   @onchange="@(async e => { reportOptionsHasEan = (bool)e.Value; await ExportOptionsChanged(); })" />
            Исключить товары без EAN
        </li>

        <li class="list-group-item">
            <input class="form-check-input" type="checkbox"
                   checked="@(selectStockPartners)"
                   @onchange="@(async e => { selectStockPartners = (bool)e.Value; await ExportOptionsChanged(); })" />
            Остатки со всех складов
            @if (selectStockPartners == false && checkedStockPartners != null)
            {
                @foreach (var stockPartner in checkedStockPartners)
                {
                    <div class="form-check mx-2">
                        <input class="form-check-input" checked="@stockPartner.Value"
                               type="checkbox" id="stock-partner-@stockPartner.Key.stock_partner_id" 
                               @onchange="@(e => checkedStockPartners[stockPartner.Key] = (bool)e.Value)" />
                        <label class="form-check-label" 
                                data-toggle="tooltip"
                               style="border-bottom: 1px dashed gray;"
                               title="@($"{stockPartner.Key.description} - срок поставки {stockPartner.Key.shipment_period} дн.")"
                               for="stock-partner-@stockPartner.Key.stock_partner_id">@stockPartner.Key.name</label>
                    </div>
                }
            }
        </li>
    </ul>
        }

        <div class=" table-responsive">
            <table class="table prikat-table">
                <thead class="thead-etk">
                    <tr>
                        <th width="5%">
                            <input type="checkbox"
                                   style="display: inline-block;  margin: 2px 6px; vertical-align: middle;"
                                   checked="@uncheckAllState"
                                   @onchange="HeaderCheckAll" />
                        </th>
                        <th>Производитель</th>
                        <th>Рекомендуемая цена</th>
                        <th>Закупочная цена</th>
                        <th>Валюта выгрузки</th>
                    </tr>
                </thead>
                <tbody>
                    @if (itemsSource == null)
                    {
                        <LoadingSpinner></LoadingSpinner>
                    }
                    else
                    {
                        foreach (var item in orderedSource)
                        {
                            <CascadingValue Value="@ShowPriceExample">
                                <CascadingValue Value="@ExamplePrice">
                                    <PrikatTemplateItem Item="@item" ItemChanged="@(e => DiscountChanged(item))" />
                                </CascadingValue>
                            </CascadingValue>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
