@page "/settings"
@inject IToastService toasts
@attribute [Authorize(Roles = "Administrator")]
@using EtkBlazorApp.Pages.Settings.SettingsTabs;

<div class="btn-group">
    @foreach (var tab in tabData)
    {
        <button class="btn btn-outline-primary @(selectedTab == tab ? "active" : "")"
            @onclick="@(e => selectedTab = tab)">
            @tab.Icon &nbsp; @tab.Title
        </button>
    }
</div>

<button class="btn btn-success float-right" @onclick="SaveCurrentTabSettings">
    <span class="oi oi-check"></span>
    Сохранить настройки
</button>

<div class="settings-tab-content container">
    <h2>@selectedTab.Title @selectedTab.Icon</h2>
    <CascadingValue Value=@selectedTab>
        <DynamicComponent Type=@selectedTab.TabComponent></DynamicComponent>
    </CascadingValue>
</div>

@code {
    public SettingsTabData selectedTab { get; set; }

    List<SettingsTabData> tabData = new List<SettingsTabData>()
    {
        new SettingsTabData() { Title = "Пользователи", Icon = new MarkupString("&#128589;"), TabComponent = typeof(UserSettingsTab) },
        new SettingsTabData() { Title = "Общие настройки", Icon = new MarkupString("&#128295;"), TabComponent = typeof(GeneralSettingsTab) },
        new SettingsTabData() { Title = "Уведомления" , Icon = new MarkupString("&#128712;"), TabComponent = typeof(NotificationSettingsTab) },
        new SettingsTabData() { Title = "Почтовые ящики", Icon = new MarkupString("&#9993;"), TabComponent = typeof(EmailSettingsTab)  },
        new SettingsTabData() { Title = "Маркетплейсы", Icon = new MarkupString("&#128722;"), TabComponent = typeof(MarketplaceSettingsTab), },
        new SettingsTabData() { Title = "Монобренды" , Icon = new MarkupString("&#127760;"), TabComponent = typeof(MonobrandSettingsTab) },
    };
    protected override void OnInitialized()
    {
        selectedTab = tabData.First();
    }

    private void SaveCurrentTabSettings()
    {
        selectedTab?.SaveButtonClicked?.Invoke();
        toasts.ShowInfo($"Настройки для вкладки {selectedTab.Title} сохранены");
    }
}
