@page "/order/{id:int}"
@using EtkBlazorApp.Components.Controls.Orders;
@attribute [Authorize(Roles = "Administrator, Manager")]

@if (order == null)
{
    <LoadingSpinner />
}
else
{
    <h1>
        Детали заказа <button class="btn btn-sm btn-secondary" @onclick="GoToPrintPage"><span class="oi oi-print"></span></button>
    </h1>

    <div class="container-fluid" style="padding-bottom: 30px;">

        <h3>Основные данные</h3>
        <div class="row order-details-row">
            <div class="col-md-2">
                <p>Номер заказа</p>
                <input type="text" readonly value="@order.OrderId" class="form-control" />
            </div>
            <div class="col-md-2">
                <p>Дата заказа</p>
                <input type="text" readonly value="@order.DateTime.ToString("g")" class="form-control" />
            </div>
            <div class="col-md-8">
                <p>Заказчик</p>
                <input type="text" readonly value="@(HttpUtility.HtmlDecode(order.Customer))" class="form-control" />
            </div>
        </div>
        <div class="row order-details-row">
            <div class="col-md-2">
                <p>Город</p>
                <input type="text" readonly value="@order.City" class="form-control" />
            </div>
            <div class="col-md-2">
                <p>Телефон</p>
                <input type="text" readonly value="@order.CustomerPhoneNumber" class="form-control" />
            </div>
            <div class="col-md-2">
                <p>Email</p>
                <input type="text" readonly value="@order.CustomerEmail" class="form-control" />
            </div>
            <div class="col-md-6">
                <p>Вид оплаты</p>
                <input type="text" readonly value="@order.PaymentMethod" class="form-control" />
            </div>
        </div>

        <h3>Доставка</h3>
        <div class="row order-details-row">
            <div class="col-md-6">
                <p>Адрес доставки</p>
                <input type="text" readonly value="@order.ShippingAddress" class="form-control" />
            </div>
            <div class="col-md-6">
                <p>Метод доставки</p>
                <input type="text" readonly value="@order.ShippingMethod" class="form-control" />
            </div>
        </div>

        <hr style="margin: 20px auto;" />

        <div class="row">
            <div class="col-md-2" style="padding-bottom:40px;@(hasLinkedOrders ? "" : "display: none;")">
                <h3>Другие заказы этого клиента</h3>
                <select multiple class="form-control" style="height: 100%; overflow-y: auto;">
                    @foreach (var linkedOrder in linkedOrders)
                    {
                        <option value="@linkedOrder.order_id"
                        style="@(linkedOrder.order_id.ToString().Equals(order.OrderId) ? "font-weight: bold; color: red;" : "")"
                        @ondblclick="(e => OnLinkedOrderMouseDoubleClick(linkedOrder))">
                            @($"{linkedOrder.order_id} от {linkedOrder.date_added.ToShortDateString()}")
                        </option>
                    }
                </select>
            </div>
            <div class="@(hasLinkedOrders ? "col-md-10" : "col-md-12")">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-etk">
                            <tr>
                                <th>Производитель</th>
                                <th>Наименование</th>
                                <th>Модель</th>
                                <th>Артикул</th>
                                <th>Цена, за ед.<br /><small>(на момент заказа)</small></th>
                                <th>Количество</th>
                                <th>Сумма</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detail in order.OrderDetails)
                            {
                                <tr>
                                    <td>@detail.Manufacturer</td>
                                    <td>
                                        <a href="https://etk-komplekt.ru/index.php?route=product/product&product_id=@detail.ProductId"
                                   target="_blank">
                                            @(HttpUtility.HtmlDecode(detail.ProductName))
                                        </a>
                                    </td>
                                    <td>@(HttpUtility.HtmlDecode(detail.Model))</td>
                                    <td>@detail.Sku</td>
                                    <td>@detail.Price.ToString("C0")</td>
                                    <td>@detail.Quantity</td>
                                    <td>@detail.Sum.ToString("C0")</td>
                                </tr>
                            }
                            @if (order.OrderDetails.Count > 1)
                            {
                                <tr>
                                    <td colspan="5"></td>
                                    <td style="color: red; font-weight: bold;">@order.ProductsTotalQuantity</td>
                                    <td style="color: red; font-weight: bold;">@order.ProductsTotalCost.ToString("C0")</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="5"></td>
                                <td style="color: red; font-weight: bold;">Доставка</td>
                                <td style="color: red; font-weight: bold;">@order.ShipmentCost.ToString("C0")</td>
                            </tr>
                            <tr style="border-top: 2px solid #33121933">
                                <td colspan="5"></td>
                                <td style="color: red; font-weight: bold;">ИТОГО</td>
                                <td style="color: red; font-weight: bold;">@order.TotalPrice.ToString("C0")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Комментарий к заказу</p>
                        <textarea readonly value="@order.Comment" class="form-control" style="height: 120px; width: 100%; margin: auto 20px;" />
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin: 20px auto;" />

        <OrderDetailsAdditionalTabsControl Order="order" />
    </div>
}

@code {

    [Parameter] public int Id { get; set; }
    [Inject] public IOrderStorage OrderStorage { get; set; }
    [Inject] public IJSRuntime Js { get; set; }
    [Inject] public IMapper Mapper { get; set; }
    [Inject] public NavigationManager NavManager { get; set; }

    OrderViewModel order = null;
    List<OrderEntity> linkedOrders = null;
    bool hasLinkedOrders => linkedOrders.Count > 1;

    protected override async Task OnInitializedAsync()
    {
        var orderData = await OrderStorage.GetOrderById(Id);
        order = Mapper.Map<OrderViewModel>(orderData);

        linkedOrders = await OrderStorage.GetLinkedOrders(orderData);
    }

    private async Task GoToPrintPage()
    {
        string printPage = NavManager.Uri + "/print";
        await Js.InvokeAsync<object>("open", printPage, "_blank");
    }

    private async Task OnLinkedOrderMouseDoubleClick(OrderEntity clickedOrder)
    {
        string linkedOrderPage = NavManager.Uri.Replace("/" + Id, "/" + clickedOrder.order_id);
        await Js.InvokeAsync<object>("open", linkedOrderPage, "_blank");
    }
}


